<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<title>Internal Forum</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/myCss.css" th:href="@{/css/myCss.css}" />
</head>
<body>

	<div class="container">
		<div class="register-box">
			<div class="register-title">Welcome!!</div>
			<br>
			<br>
			<br>

			<p>
				<a href="/secure" th:href="@{/secure}">Discussion Forum</a>
			</p>
			
		</div>
	</div>


</body>
</html>