<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/mycss.css" th:href="@{/css/mycss.css}" />
<title>Login</title>
</head>
<body>

	<div class="container">
		<div class="login-box">
			<div class="login-title">Welcome, please login</div>
			<div class="login-form">
				<div class="login-form">

					<form method="post" action="#" th:action="@{/login}">
						<div class="form-group">
							<label class="form-control-label">Username</label> <input
								type="text" name="username" class="form-control" /><br>
						</div>

						<div class="form-group">
							<label class="form-control-label">Password</label> <input
								type="password" name="password" class="form-control" /><br>
						</div>

						<div class="loginbttm">
							<div class="login-btm login-text">
								<div th:if="${param.error}">
									<div style="color: red;">Invalid username or password.</div>
								</div>

								<div th:if="${param.logout}">
									<div style="color: red;">You have been logged out.</div>
								</div>
							</div>
							<br>
							<div class="login-btm login-button">
								<button type="submit" value="Log In" name="login-submit"
									class="btn btn-outline-primary">LOGIN</button>
							</div>
						</div>
						<br>
						<br>


						<p>
							<a href="/register" th:href="@{/register}">Register here</a><br>
							<a href="/" th:href="@{/}">Back to home page</a>
						</p>

					</form>
				</div>
			</div>
		</div>
	</div>

</body>
</html>