<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<title>Registration</title>
<script src="../static/js/script.js" th:src="@{/js/script.js}"></script> 
<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/myCss.css" th:href="@{/css/myCss.css}" />
</head>
<body>

	<div class="container">
		<div class="register-box">
			<div class="register-title">Registration form</div>
			<div class="register-form">
				<div class="register-form">
				
					<form name="form" action="#" th:action="@{/register}" method="post"
						onsubmit="return verify()">
						<div class="form-group">
							<label class="form-control-label">Username</label> <input
								type="text" name="username" class="form-control" />
						</div>

						<div class="form-group">
							<label class="form-control-label">Password</label> <input
								type="password" name="password" class="form-control" />
						</div>

						<div class="form-group">
							<label class="form-control-label">Verify Password</label><input
								type="password" name="verifyPassword" class="form-control" />
						</div><br>

						<div class="registerbttm">
							<div class="register-btm register-text">
								<div id="error" style="color: red;"></div>
							</div><br>
							
							<div class="register-btm register-button">
								<button type="submit" value="Register" name="register-submit"
									class="btn btn-outline-primary">CREATE ACCOUNT</button>
							</div>
						</div>
						<br><br>
						<br>
						
						<p>
							<a href="/login" th:href="@{/login}">Back to login</a><br>
							<a href="/" th:href="@{/}">Back to home page</a>
						</p>
					</form>
				</div>
			</div>
		</div>
	</div>

</body>
</html>