<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<title>Add Post</title>
<script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/myCss.css" th:href="@{/css/myCss.css}" />
</head>
<body>
	<div class="container">
		<div class="box">
			<div class="title">Add Post</div>
			<div class="form">
				<div class="form">

					<form method="post" action="#" th:action="@{/secure/addPost}"
						th:object="${post}">
						<input type="hidden" th:field="*{id}" />

						<div class="form-group" sec:authorize="isAuthenticated()">
							<label class="form-control-label">Current User: </label> 
							<label class="form-control-label" sec:authentication="name">User</label>
						</div>

						<div class="form-group">
							<label class="form-control-label">Thread: </label> 
							<select th:if="${forumList != null and !forumList.empty}"
								name="forumId">
								<option th:each="f:${forumList}" th:value="${f.id}"
									th:text="${f.topic}" />
							</select>
						</div>
		
						<br>
						
						<div class="form-group">
							<label class="form-control-label">Content: </label> <input
								type="text" th:field="*{post}" class="form-control" />
						</div>

						<div class="form-group">
							<label class="form-control-label">Current Date: </label> <br>
							<input type="date" th:field="*{date}" onload="getDate()" /><br>
						</div>

						<div class="btm button">
							<button type="submit" value="Log In" name="submit"
								class="btn btn-outline-primary">SAVE POST</button>
						</div>
						<br> <br>
						<p>
							<a href="/" th:href="@{/secure}">Back to forum</a><br>
							<a href="#" th:href="@{/logout}">Logout</a>
						</p>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>