<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<title>Insert title here</title>
<script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/myCss.css" th:href="@{/css/myCss.css}" />
</head>
<body>
	<div class="container">
		<div class="box">
			<div class="title">Discussion Forum</div>
			<div class="form">
				<div class="form">

					<form method="post" action="#" th:action="@{/secure/post}">
						<div class="form-group">
							<label class="form-control-label">Thread: </label> 
							<select th:if="${forumList != null and !forumList.empty}" name="forumId">
								<option th:each="f:${forumList}" th:value="${f.id}"
									th:text="${f.topic}" />
							</select>
						</div>

						<div class="btm button">
							<button type="submit" value="Log In" name="submit"
								class="btn btn-outline-primary">SEE POSTS</button>
						</div>
						<br> <br>
						<p>
							<a href="/" th:href="@{/secure/addThread}">Add a thread</a><br>
							<a href="/" th:href="@{/}">Back to home page</a><br>
							<a href="#" th:href="@{/logout}">Logout</a>
						</p>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>