<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<meta charset="UTF-8">
<script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/myCss.css" th:href="@{/css/myCss.css}" />
<title>Posts Field</title>
</head>
<body>

	<div class="container">
		<div class="box">
			<div class="title" th:text="${forum}">Discussion Forum</div>
			<br> <br> <br>

			<div class="text-left"
				th:if="${employeePost != null and !employeePost.empty}">
				<table class="table table-border-bottom">
					<tr>
						<th style="padding: 1em;">Posts</th>
						<th style="padding: 1em;">Author</th>
						<th style="padding: 1em;">Post date</th>

					</tr>
					<tr th:each="ep:${employeePost}" class="table-row">
						<td th:text="${ep.value.post}" style="padding: 1em;">post details</td>
						<td th:text="${ep.key}">Author</td>
						<td th:text="${ep.value.date}" style="padding: 1em;">post date</td>
					</tr>

				</table>
			</div>

			<p>
				<a href="/" th:href="@{/secure/addPost}">Add a post</a><br>
				<a href="/" th:href="@{/secure}">Back</a><br>
				<a href="#" th:href="@{/logout}">Logout</a>
			</p>

		</div>
	</div>
</body>
</html>