@charset "UTF-8";

body{
  	background: #283137;
}
p{
	text-align: center;
	margin-top:80px;
}
a{
	color: #0DB8DE;
}
table{
	color: #ECF0F5;
}
select{
	color: #ECF0F5;
	background-color: #1e2429;
	width: 100%;
	padding: 0.8em;
} 

.login-box,.register-box, .box {
    margin-top: 200px;
    margin-left: 8em;
    margin-right: 8em;
    height: auto;
    width: auto;
    background: #1e2429;
    text-align: center;
    border-radius: 5%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.login-title,.register-title,.title {
    margin-top: 90px;
    padding-top: 30px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #ECF0F5;
}

.login-form,.register-form, .form {
    margin-top: 80px;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}
.form-group {
    margin-bottom: 20px;
}

input[type=text] {
    background-color: #1e2429;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ECF0F5;
}
input[type=password] {
    background-color: #1e2429;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ECF0F5;
}
input[type=email] {
    background-color: #1e2429;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ECF0F5;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #0DB8DE;
    background-color: #1e2429;
    color: #ECF0F5;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0;
}

.form-control-label {
    color: #6C6C6C;
    font-weight: bold;
    font-size: 0.9em;
    letter-spacing: 1px;
}

.btn-outline-primary {
    border-color: #0DB8DE;
    color: #0DB8DE;
    border-radius: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
    background-color: #0DB8DE;
    right: 0px;
}

.login-btm,.register-btm,.btm {
    float: right;
}

.loginbttm,.registerbttm {
    padding: 0px;
}